In [1]:
import pandas as pd
import sqlite3
import numpy as np

In [2]:
sqliteConnection = sqlite3.connect('lottery.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = """SELECT contest, first_number, second_number, third_number, fourth_number, fifth_number, sixth_number from mega_sena"""
cursor.execute(sqlite_select_query)
records = cursor.fetchall()
records

[(1, 4, 5, 30, 33, 41, 52),
 (2, 9, 37, 39, 41, 43, 49),
 (3, 10, 11, 29, 30, 36, 47),
 (4, 1, 5, 6, 27, 42, 59),
 (5, 1, 2, 6, 16, 19, 46),
 (6, 7, 13, 19, 22, 40, 47),
 (7, 3, 5, 20, 21, 38, 56),
 (8, 4, 17, 37, 38, 47, 53),
 (9, 8, 43, 54, 55, 56, 60),
 (10, 4, 18, 21, 25, 38, 57),
 (11, 15, 25, 37, 38, 58, 59),
 (12, 4, 16, 19, 20, 27, 43),
 (13, 18, 32, 47, 50, 54, 56),
 (14, 2, 16, 23, 27, 47, 53),
 (15, 12, 33, 35, 51, 52, 60),
 (16, 20, 32, 34, 49, 58, 60),
 (17, 6, 10, 13, 19, 20, 51),
 (18, 23, 27, 36, 37, 42, 56),
 (19, 5, 10, 12, 24, 25, 60),
 (20, 11, 25, 28, 30, 33, 51),
 (21, 6, 33, 36, 46, 49, 53),
 (22, 1, 9, 31, 38, 46, 56),
 (23, 17, 37, 39, 51, 52, 59),
 (24, 1, 8, 14, 28, 33, 43),
 (25, 24, 43, 50, 54, 55, 56),
 (26, 10, 22, 50, 53, 57, 58),
 (27, 13, 17, 20, 33, 44, 51),
 (28, 3, 6, 22, 24, 54, 60),
 (29, 3, 8, 14, 43, 56, 58),
 (30, 7, 14, 15, 29, 38, 50),
 (31, 17, 19, 28, 45, 48, 56),
 (32, 5, 14, 33, 36, 43, 44),
 (33, 5, 17, 33, 39, 42, 49),
 (34, 13, 15, 17, 40, 53, 57),
 (35, 4, 16, 21, 23, 54, 57),
 (36, 3, 13, 17, 25, 29, 51),
 (37, 6, 7, 22, 38, 52, 60),
 (38, 10, 42, 43, 45, 54, 55),
 (39, 12, 16, 37, 45, 52, 56),
 (40, 3, 5, 8, 12, 46, 47),
 (41, 12, 26, 35, 38, 39, 47),
 (42, 7, 11, 19, 24, 33, 36),
 (43, 2, 6, 17, 25, 26, 58),
 (44, 14, 18, 29, 38, 44, 47),
 (45, 7, 30, 37, 44, 53, 55),
 (46, 1, 23, 24, 32, 46, 60),
 (47, 3, 17, 25, 35, 48, 56),
 (48, 2, 5, 28, 34, 47, 50),
 (49, 7, 13, 33, 35, 43, 55),
 (50, 6, 16, 21, 44, 57, 58),
 (51, 17, 23, 24, 25, 42, 47),
 (52, 15, 30, 38, 46, 58, 59),
 (53, 3, 13, 16, 38, 42, 46),
 (54, 5, 9, 18, 21, 36, 56),
 (55, 2, 14, 23, 29, 38, 52),
 (56, 2, 7, 20, 35, 51, 59),
 (57, 7, 16, 17, 27, 34, 59),
 (58, 12, 27, 30, 37, 44, 49),
 (59, 2, 8, 13, 28, 34, 54),
 (60, 3, 14, 15, 20, 21, 38),
 (61, 8, 18, 29, 42, 44, 59),
 (62, 6, 8, 13, 24, 31, 52),
 (63, 9, 25, 26, 40, 41, 49),
 (64, 8, 12, 23, 50, 54, 60),
 (65, 1, 5, 20, 25, 32, 34),
 (66, 12, 13, 15, 26, 33, 48),
 (67, 12, 14, 17, 27, 47, 52),
 (68, 1, 3, 12, 13, 53, 59),
 (69, 25, 34, 45, 53, 56, 58),
 (70, 17, 23, 27, 40, 43, 58),
 (71, 16, 27, 33, 43, 45, 53),
 (72, 1, 19, 34, 43, 44, 48),
 (73, 25, 26, 28, 45, 51, 57),
 (74, 2, 24, 34, 37, 38, 50),
 (75, 21, 24, 35, 36, 37, 49),
 (76, 8, 17, 18, 23, 33, 53),
 (77, 21, 29, 40, 49, 54, 57),
 (78, 12, 22, 25, 31, 32, 46),
 (79, 2, 13, 17, 25, 31, 43),
 (80, 23, 28, 37, 40, 48, 51),
 (81, 10, 23, 41, 47, 54, 60),
 (82, 15, 18, 29, 36, 51, 53),
 (83, 4, 15, 16, 24, 42, 57),
 (84, 4, 6, 10, 25, 34, 40),
 (85, 6, 15, 30, 37, 45, 47),
 (86, 6, 21, 22, 34, 36, 54),
 (87, 4, 5, 11, 28, 32, 40),
 (88, 4, 18, 29, 37, 43, 45),
 (89, 13, 34, 42, 44, 55, 59),
 (90, 9, 21, 26, 40, 52, 54),
 (91, 2, 4, 10, 35, 39, 60),
 (92, 1, 3, 5, 23, 24, 51),
 (93, 2, 22, 28, 31, 36, 53),
 (94, 8, 18, 28, 51, 52, 55),
 (95, 6, 40, 45, 46, 50, 60),
 (96, 4, 7, 26, 40, 42, 58),
 (97, 5, 11, 14, 35, 53, 56),
 (98, 13, 14, 31, 33, 35, 43),
 (99, 11, 24, 30, 33, 46, 60),
 (100, 14, 29, 30, 46, 48, 51),
 (101, 1, 18, 29, 31, 37, 39),
 (102, 19, 20, 37, 42, 44, 56),
 (103, 1, 7, 9, 49, 54, 57),
 (104, 1, 4, 13, 21, 38, 52),
 (105, 3, 13, 31, 43, 46, 49),
 (106, 5, 16, 24, 35, 38, 39),
 (107, 2, 4, 16, 24, 51, 52),
 (108, 21, 24, 29, 34, 59, 60),
 (109, 1, 13, 44, 48, 49, 54),
 (110, 18, 31, 43, 52, 57, 58),
 (111, 4, 22, 25, 32, 33, 52),
 (112, 12, 20, 34, 37, 42, 43),
 (113, 7, 26, 28, 34, 54, 55),
 (114, 6, 12, 18, 37, 47, 54),
 (115, 4, 6, 14, 20, 24, 38),
 (116, 5, 13, 32, 36, 42, 51),
 (117, 20, 25, 27, 33, 42, 53),
 (118, 9, 22, 25, 37, 56, 57),
 (119, 1, 21, 36, 38, 47, 50),
 (120, 3, 16, 27, 40, 45, 46),
 (121, 2, 29, 41, 44, 53, 55),
 (122, 11, 17, 20, 39, 43, 53),
 (123, 13, 14, 16, 26, 32, 42),
 (124, 5, 15, 34, 41, 52, 57),
 (125, 25, 41, 47, 53, 56, 59),
 (126, 6, 10, 11, 28, 32, 40),
 (127, 21, 29, 50, 51, 54, 59),
 (128, 3, 9, 18, 21, 23, 43),
 (129, 1, 9, 10, 32, 46, 54),
 (130, 13, 29, 38, 42, 49, 53),
 (131, 4, 9, 17, 27, 30, 44),
 (132, 7, 9, 35, 41, 44, 50),
 (133, 5, 6, 19, 34, 39, 57),
 (134, 4, 25, 32, 36, 52, 60),
 (135, 21, 22, 35, 40, 53, 59),
 (136, 1, 17, 25, 38, 45, 59),
 (137, 15, 16, 19, 22, 26, 49),
 (138, 5, 14, 27, 37, 40, 41),
 (139, 3, 13, 26, 27, 41, 42),
 (140, 7, 31, 41, 44, 46, 55),
 (141, 10, 13, 22, 41, 42, 58),
 (142, 8, 15, 19, 20, 54, 59),
 (143, 6, 18, 20, 40, 50, 53),
 (144, 8, 32, 36, 44, 45, 55),
 (145, 15, 16, 31, 41, 43, 51),
 (146, 25, 32, 34, 42, 51, 60),
 (147, 6, 16, 23, 24, 28, 38),
 (148, 32, 35, 41, 55, 58, 59),
 (149, 7, 11, 20, 28, 45, 48),
 (150, 12, 44, 50, 52, 54, 55),
 (151, 3, 16, 20, 43, 52, 56),
 (152, 5, 12, 15, 29, 51, 58),
 (153, 2, 30, 31, 42, 45, 47),
 (154, 8, 10, 24, 33, 45, 48),
 (155, 12, 30, 32, 35, 43, 44),
 (156, 17, 23, 42, 49, 52, 55),
 (157, 4, 13, 17, 21, 41, 44),
 (158, 4, 14, 17, 43, 51, 58),
 (159, 9, 11, 16, 35, 50, 58),
 (160, 2, 13, 42, 52, 54, 58),
 (161, 6, 25, 30, 37, 39, 41),
 (162, 21, 23, 33, 38, 48, 51),
 (163, 8, 27, 36, 41, 53, 56),
 (164, 4, 10, 14, 19, 28, 44),
 (165, 10, 19, 23, 35, 39, 56),
 (166, 12, 13, 22, 57, 59, 60),
 (167, 1, 11, 28, 33, 38, 48),
 (168, 2, 9, 31, 35, 45, 50),
 (169, 1, 13, 21, 37, 51, 52),
 (170, 7, 41, 46, 51, 55, 58),
 (171, 4, 27, 40, 43, 46, 54),
 (172, 10, 14, 26, 35, 36, 49),
 (173, 17, 28, 29, 42, 49, 50),
 (174, 11, 22, 23, 36, 52, 59),
 (175, 1, 10, 13, 20, 42, 50),
 (176, 1, 3, 4, 28, 45, 53),
 (177, 22, 35, 38, 39, 41, 59),
 (178, 5, 15, 19, 26, 27, 33),
 (179, 5, 6, 23, 26, 27, 53),
 (180, 6, 23, 29, 39, 51, 60),
 (181, 1, 27, 33, 35, 51, 55),
 (182, 3, 5, 10, 28, 46, 60),
 (183, 2, 7, 11, 16, 40, 44),
 (184, 9, 16, 21, 34, 41, 60),
 (185, 17, 22, 43, 46, 55, 59),
 (186, 14, 23, 24, 25, 26, 51),
 (187, 6, 36, 41, 44, 48, 58),
 (188, 17, 27, 34, 42, 43, 46),
 (189, 4, 15, 31, 38, 41, 53),
 (190, 5, 10, 21, 32, 40, 42),
 (191, 1, 3, 5, 23, 41, 58),
 (192, 1, 26, 28, 41, 54, 60),
 (193, 4, 11, 12, 19, 43, 49),
 (194, 25, 28, 32, 33, 42, 43),
 (195, 3, 9, 17, 32, 37, 44),
 (196, 7, 9, 14, 17, 24, 32),
 (197, 5, 12, 15, 19, 29, 52),
 (198, 1, 8, 18, 23, 35, 40),
 (199, 10, 16, 37, 50, 52, 57),
 (200, 12, 15, 19, 34, 44, 51),
 (201, 5, 20, 22, 30, 35, 55),
 (202, 12, 24, 44, 45, 49, 53),
 (203, 11, 19, 29, 44, 47, 55),
 (204, 29, 31, 39, 41, 51, 58),
 (205, 26, 32, 40, 43, 46, 54),
 (206, 18, 20, 26, 34, 51, 56),
 (207, 3, 7, 19, 24, 53, 55),
 (208, 15, 23, 24, 25, 47, 57),
 (209, 13, 21, 26, 32, 41, 52),
 (210, 20, 32, 37, 38, 48, 58),
 (211, 10, 20, 33, 40, 45, 50),
 (212, 6, 15, 29, 45, 57, 59),
 (213, 3, 9, 23, 30, 32, 35),
 (214, 6, 12, 30, 31, 35, 50),
 (215, 7, 28, 37, 46, 53, 58),
 (216, 14, 18, 30, 35, 42, 59),
 (217, 3, 27, 32, 45, 49, 51),
 (218, 12, 17, 40, 42, 47, 54),
 (219, 23, 26, 28, 36, 42, 49),
 (220, 13, 14, 36, 53, 55, 60),
 (221, 13, 27, 43, 50, 54, 58),
 (222, 5, 19, 30, 48, 52, 55),
 (223, 2, 6, 22, 24, 28, 58),
 (224, 7, 16, 18, 20, 21, 44),
 (225, 2, 4, 16, 21, 37, 58),
 (226, 1, 2, 38, 49, 50, 59),
 (227, 11, 26, 27, 37, 42, 48),
 (228, 13, 16, 40, 43, 45, 59),
 (229, 11, 13, 21, 33, 39, 45),
 (230, 8, 40, 41, 44, 53, 56),
 (231, 16, 27, 36, 42, 44, 59),
 (232, 19, 22, 29, 37, 41, 59),
 (233, 3, 7, 24, 32, 36, 45),
 (234, 15, 25, 41, 42, 45, 54),
 (235, 2, 22, 29, 31, 41, 55),
 (236, 10, 25, 50, 52, 57, 60),
 (237, 7, 31, 36, 45, 56, 57),
 (238, 9, 13, 15, 37, 41, 42),
 (239, 6, 21, 33, 44, 46, 47),
 (240, 25, 28, 38, 41, 57, 59),
 (241, 11, 31, 35, 40, 56, 57),
 (242, 4, 7, 21, 22, 28, 56),
 (243, 11, 16, 20, 23, 32, 47),
 (244, 19, 24, 33, 47, 50, 60),
 (245, 8, 27, 44, 51, 53, 60),
 (246, 2, 16, 32, 37, 43, 57),
 (247, 3, 10, 23, 30, 34, 46),
 (248, 16, 32, 34, 35, 41, 56),
 (249, 21, 36, 40, 49, 54, 55),
 (250, 7, 25, 41, 42, 43, 55),
 (251, 15, 23, 30, 34, 49, 55),
 (252, 4, 17, 26, 32, 51, 54),
 (253, 11, 12, 24, 37, 44, 56),
 (254, 1, 4, 21, 22, 30, 56),
 (255, 16, 19, 20, 32, 44, 55),
 (256, 2, 21, 26, 32, 34, 52),
 (257, 1, 4, 5, 19, 28, 34),
 (258, 7, 12, 50, 54, 55, 60),
 (259, 13, 15, 20, 33, 43, 58),
 (260, 4, 6, 33, 43, 59, 60),
 (261, 5, 16, 20, 30, 54, 56),
 (262, 11, 20, 48, 53, 58, 60),
 (263, 8, 9, 26, 43, 50, 53),
 (264, 1, 5, 13, 25, 31, 33),
 (265, 7, 16, 34, 41, 50, 53),
 (266, 2, 23, 38, 46, 48, 54),
 (267, 1, 8, 45, 46, 55, 58),
 (268, 5, 6, 10, 21, 33, 47),
 (269, 17, 18, 19, 25, 49, 52),
 (270, 5, 9, 27, 35, 40, 45),
 (271, 14, 24, 26, 29, 31, 54),
 (272, 9, 10, 24, 36, 56, 58),
 (273, 10, 17, 23, 27, 47, 52),
 (274, 11, 13, 18, 26, 39, 47),
 (275, 16, 19, 30, 37, 38, 48),
 (276, 22, 39, 45, 53, 57, 59),
 (277, 4, 26, 38, 40, 52, 56),
 (278, 10, 15, 18, 22, 31, 55),
 (279, 4, 23, 31, 47, 58, 59),
 (280, 5, 16, 20, 25, 30, 58),
 (281, 5, 11, 31, 38, 47, 53),
 (282, 9, 14, 23, 24, 33, 36),
 (283, 25, 28, 34, 42, 48, 54),
 (284, 7, 8, 14, 30, 32, 36),
 (285, 12, 32, 37, 41, 50, 56),
 (286, 29, 35, 37, 44, 47, 56),
 (287, 3, 13, 25, 33, 47, 60),
 (288, 6, 9, 11, 17, 18, 50),
 (289, 6, 7, 20, 25, 30, 36),
 (290, 7, 25, 26, 30, 40, 57),
 (291, 5, 16, 17, 18, 22, 41),
 (292, 13, 23, 24, 34, 45, 53),
 (293, 5, 6, 7, 12, 28, 35),
 (294, 22, 25, 28, 41, 45, 57),
 (295, 7, 12, 24, 31, 44, 50),
 (296, 3, 20, 42, 46, 51, 52),
 (297, 1, 20, 28, 33, 36, 41),
 (298, 5, 22, 23, 24, 34, 60),
 (299, 2, 5, 7, 33, 49, 53),
 (300, 24, 27, 28, 38, 41, 57),
 (301, 9, 26, 48, 49, 57, 58),
 (302, 12, 25, 30, 40, 41, 60),
 (303, 7, 13, 17, 30, 37, 47),
 (304, 7, 11, 34, 41, 42, 59),
 (305, 5, 11, 27, 38, 53, 60),
 (306, 19, 30, 41, 47, 56, 57),
 (307, 13, 16, 17, 26, 41, 44),
 (308, 4, 11, 25, 29, 39, 55),
 (309, 4, 11, 25, 39, 50, 55),
 (310, 2, 14, 28, 29, 31, 32),
 (311, 22, 24, 30, 32, 38, 41),
 (312, 14, 23, 30, 41, 47, 50),
 (313, 14, 16, 24, 37, 38, 53),
 (314, 5, 32, 34, 37, 40, 58),
 (315, 12, 21, 22, 28, 43, 50),
 (316, 6, 24, 28, 43, 51, 56),
 (317, 16, 20, 27, 30, 35, 48),
 (318, 3, 19, 20, 31, 40, 53),
 (319, 12, 16, 17, 19, 23, 48),
 (320, 20, 22, 27, 47, 50, 53),
 (321, 4, 11, 31, 32, 48, 49),
 (322, 11, 18, 29, 44, 47, 56),
 (323, 26, 31, 33, 40, 49, 54),
 (324, 8, 15, 22, 25, 30, 47),
 (325, 1, 3, 4, 21, 23, 53),
 (326, 21, 23, 40, 44, 51, 52),
 (327, 29, 32, 33, 38, 46, 48),
 (328, 5, 7, 14, 21, 23, 51),
 (329, 10, 11, 12, 24, 35, 40),
 (330, 2, 4, 14, 23, 37, 51),
 (331, 1, 13, 20, 27, 35, 37),
 (332, 23, 28, 29, 34, 42, 44),
 (333, 4, 27, 35, 44, 52, 53),
 (334, 14, 23, 24, 26, 41, 51),
 (335, 7, 23, 33, 43, 57, 59),
 (336, 2, 18, 22, 26, 30, 54),
 (337, 4, 14, 16, 31, 52, 54),
 (338, 1, 4, 9, 36, 46, 48),
 (339, 5, 12, 13, 16, 27, 50),
 (340, 9, 10, 12, 33, 42, 60),
 (341, 5, 16, 22, 23, 43, 56),
 (342, 16, 29, 34, 49, 51, 54),
 (343, 4, 6, 7, 12, 24, 41),
 (344, 10, 12, 14, 33, 35, 36),
 (345, 11, 22, 46, 51, 56, 58),
 (346, 7, 12, 41, 46, 56, 60),
 (347, 1, 10, 12, 26, 48, 52),
 (348, 19, 30, 33, 39, 40, 52),
 (349, 8, 9, 28, 32, 38, 54),
 (350, 10, 15, 23, 30, 43, 57),
 (351, 15, 16, 24, 41, 59, 60),
 (352, 7, 20, 25, 44, 47, 49),
 (353, 19, 23, 30, 46, 55, 60),
 (354, 7, 16, 38, 40, 41, 52),
 (355, 2, 14, 22, 23, 37, 60),
 (356, 5, 19, 21, 54, 56, 58),
 (357, 2, 30, 32, 35, 45, 53),
 (358, 12, 17, 21, 32, 40, 42),
 (359, 13, 19, 20, 29, 31, 54),
 (360, 23, 24, 29, 47, 53, 55),
 (361, 16, 28, 31, 41, 45, 59),
 (362, 7, 20, 33, 37, 46, 56),
 (363, 19, 29, 39, 47, 49, 54),
 (364, 5, 29, 44, 51, 57, 59),
 (365, 19, 23, 34, 37, 52, 58),
 (366, 4, 6, 7, 15, 21, 51),
 (367, 10, 12, 27, 33, 49, 52),
 (368, 13, 29, 32, 38, 44, 50),
 (369, 1, 14, 21, 35, 42, 60),
 (370, 1, 4, 40, 42, 51, 54),
 (371, 4, 18, 23, 33, 39, 60),
 (372, 16, 17, 24, 39, 46, 57),
 (373, 1, 5, 10, 24, 31, 33),
 (374, 2, 5, 16, 26, 44, 54),
 (375, 1, 5, 9, 42, 51, 58),
 (376, 10, 13, 25, 35, 43, 48),
 (377, 3, 12, 19, 27, 45, 46),
 (378, 5, 38, 41, 45, 48, 55),
 (379, 24, 33, 40, 41, 55, 59),
 (380, 13, 22, 30, 31, 47, 57),
 (381, 9, 10, 28, 46, 55, 56),
 (382, 31, 34, 37, 38, 53, 54),
 (383, 14, 22, 48, 50, 53, 56),
 (384, 24, 28, 40, 47, 50, 52),
 (385, 5, 12, 16, 18, 22, 24),
 (386, 17, 35, 36, 39, 43, 54),
 (387, 22, 28, 29, 43, 47, 48),
 (388, 23, 36, 48, 52, 53, 58),
 (389, 5, 14, 18, 43, 46, 54),
 (390, 7, 12, 22, 34, 38, 53),
 (391, 4, 7, 15, 16, 35, 40),
 (392, 15, 23, 31, 39, 47, 49),
 (393, 6, 12, 35, 36, 40, 50),
 (394, 5, 15, 35, 42, 45, 49),
 (395, 10, 11, 14, 20, 31, 58),
 (396, 6, 18, 34, 42, 45, 47),
 (397, 1, 2, 5, 24, 32, 46),
 (398, 7, 16, 22, 28, 36, 37),
 (399, 11, 16, 27, 47, 55, 59),
 (400, 10, 13, 28, 29, 54, 59),
 (401, 11, 18, 43, 44, 50, 53),
 (402, 5, 16, 27, 43, 56, 58),
 (403, 7, 16, 27, 31, 46, 60),
 (404, 1, 24, 28, 38, 40, 58),
 (405, 24, 29, 34, 47, 57, 60),
 (406, 2, 12, 32, 38, 47, 48),
 (407, 2, 18, 22, 49, 51, 57),
 (408, 14, 28, 33, 44, 49, 56),
 (409, 18, 25, 26, 31, 34, 49),
 (410, 8, 24, 31, 36, 38, 55),
 (411, 10, 12, 31, 38, 45, 56),
 (412, 5, 12, 14, 21, 45, 59),
 (413, 2, 4, 29, 33, 35, 53),
 (414, 16, 26, 35, 45, 52, 58),
 (415, 1, 4, 27, 38, 42, 44),
 (416, 1, 13, 23, 33, 54, 56),
 (417, 7, 12, 21, 25, 34, 42),
 (418, 8, 15, 32, 45, 49, 52),
 (419, 9, 16, 41, 42, 52, 53),
 (420, 12, 29, 30, 43, 57, 59),
 (421, 5, 35, 37, 38, 45, 51),
 (422, 12, 37, 43, 55, 56, 60),
 (423, 8, 22, 32, 33, 40, 53),
 (424, 18, 27, 29, 36, 46, 59),
 (425, 6, 10, 16, 34, 42, 47),
 (426, 7, 30, 32, 37, 50, 54),
 (427, 3, 13, 14, 24, 43, 51),
 (428, 8, 28, 30, 32, 46, 60),
 (429, 17, 26, 32, 36, 43, 55),
 (430, 8, 10, 21, 25, 38, 50),
 (431, 26, 37, 40, 47, 52, 58),
 (432, 4, 13, 17, 27, 39, 50),
 (433, 16, 17, 28, 30, 36, 54),
 (434, 4, 10, 17, 24, 30, 54),
 (435, 10, 11, 17, 31, 37, 43),
 (436, 1, 6, 7, 29, 48, 57),
 (437, 7, 10, 30, 44, 54, 59),
 (438, 3, 5, 11, 14, 38, 48),
 (439, 13, 20, 29, 42, 43, 57),
 (440, 3, 5, 23, 30, 46, 47),
 (441, 2, 10, 15, 21, 58, 59),
 (442, 6, 15, 23, 31, 37, 59),
 (443, 11, 17, 26, 36, 48, 52),
 (444, 3, 24, 33, 48, 52, 57),
 (445, 7, 20, 31, 32, 50, 53),
 (446, 8, 11, 12, 17, 20, 47),
 (447, 15, 24, 25, 33, 42, 55),
 (448, 3, 5, 9, 45, 51, 52),
 (449, 1, 8, 24, 34, 49, 56),
 (450, 1, 9, 13, 50, 51, 59),
 (451, 17, 18, 23, 28, 31, 53),
 (452, 11, 16, 30, 36, 51, 54),
 (453, 8, 20, 23, 34, 52, 58),
 (454, 4, 17, 24, 42, 46, 56),
 (455, 2, 14, 15, 17, 50, 59),
 (456, 3, 17, 22, 27, 33, 40),
 (457, 15, 17, 24, 27, 32, 48),
 (458, 13, 24, 32, 34, 43, 53),
 (459, 8, 15, 17, 39, 43, 49),
 (460, 19, 23, 30, 37, 49, 55),
 (461, 15, 17, 20, 29, 30, 60),
 (462, 17, 19, 22, 26, 27, 48),
 (463, 2, 3, 7, 18, 45, 53),
 (464, 6, 24, 33, 38, 45, 50),
 (465, 1, 22, 31, 46, 51, 57),
 (466, 11, 16, 28, 29, 30, 45),
 (467, 8, 18, 21, 22, 38, 60),
 (468, 5, 6, 23, 25, 39, 51),
 (469, 13, 21, 26, 29, 42, 47),
 (470, 8, 11, 23, 37, 51, 58),
 (471, 5, 31, 32, 36, 51, 59),
 (472, 3, 4, 12, 29, 38, 51),
 (473, 7, 23, 41, 49, 51, 58),
 (474, 3, 12, 32, 34, 40, 50),
 (475, 6, 8, 19, 22, 43, 52),
 (476, 17, 20, 38, 43, 55, 58),
 (477, 6, 8, 18, 34, 38, 47),
 (478, 3, 8, 21, 25, 30, 31),
 (479, 20, 26, 41, 46, 54, 58),
 (480, 14, 33, 36, 38, 41, 49),
 (481, 6, 13, 22, 24, 42, 44),
 (482, 12, 13, 33, 53, 54, 56),
 (483, 16, 18, 23, 35, 44, 59),
 (484, 17, 18, 19, 38, 49, 53),
 (485, 19, 28, 30, 38, 52, 57),
 (486, 8, 14, 19, 30, 42, 50),
 (487, 8, 22, 25, 48, 52, 54),
 (488, 15, 30, 35, 39, 43, 57),
 (489, 17, 28, 33, 36, 53, 59),
 (490, 5, 11, 23, 29, 54, 58),
 (491, 1, 9, 15, 22, 43, 55),
 (492, 2, 6, 15, 18, 56, 57),
 (493, 3, 18, 20, 24, 42, 54),
 (494, 18, 20, 28, 32, 49, 53),
 (495, 8, 15, 29, 36, 49, 60),
 (496, 10, 19, 20, 29, 41, 59),
 (497, 9, 13, 20, 32, 41, 58),
 (498, 2, 6, 28, 49, 50, 57),
 (499, 1, 4, 5, 11, 44, 59),
 (500, 21, 29, 35, 36, 38, 54),
 (501, 16, 27, 28, 34, 39, 56),
 (502, 7, 13, 21, 24, 33, 50),
 (503, 7, 10, 21, 27, 48, 49),
 (504, 8, 11, 19, 30, 39, 50),
 (505, 3, 20, 28, 46, 47, 52),
 (506, 4, 15, 31, 34, 37, 38),
 (507, 3, 5, 27, 33, 44, 58),
 (508, 5, 10, 15, 45, 46, 56),
 (509, 28, 32, 33, 34, 35, 55),
 (510, 1, 4, 30, 41, 45, 58),
 (511, 3, 4, 8, 34, 36, 37),
 (512, 4, 8, 31, 40, 53, 58),
 (513, 10, 19, 27, 33, 39, 46),
 (514, 15, 36, 40, 42, 51, 52),
 (515, 15, 16, 39, 45, 48, 57),
 (516, 5, 13, 24, 33, 34, 35),
 (517, 7, 8, 28, 32, 38, 51),
 (518, 5, 8, 10, 15, 18, 44),
 (519, 9, 15, 19, 22, 36, 42),
 (520, 9, 12, 17, 32, 34, 35),
 (521, 15, 25, 28, 32, 38, 45),
 (522, 6, 14, 15, 25, 49, 52),
 (523, 28, 39, 40, 44, 45, 58),
 (524, 19, 29, 34, 41, 47, 48),
 (525, 8, 10, 24, 26, 32, 49),
 (526, 3, 21, 31, 36, 55, 59),
 (527, 6, 14, 17, 26, 50, 52),
 (528, 8, 12, 28, 31, 34, 37),
 (529, 1, 13, 33, 38, 45, 56),
 (530, 1, 6, 21, 25, 32, 49),
 (531, 1, 3, 7, 18, 35, 50),
 (532, 4, 9, 12, 13, 52, 53),
 (533, 13, 18, 21, 27, 53, 59),
 (534, 3, 8, 23, 31, 48, 57),
 (535, 6, 14, 28, 47, 49, 56),
 (536, 14, 15, 22, 23, 25, 37),
 (537, 3, 7, 19, 34, 37, 39),
 (538, 3, 25, 43, 45, 52, 56),
 (539, 6, 16, 19, 47, 50, 55),
 (540, 4, 22, 28, 30, 44, 49),
 (541, 13, 27, 49, 52, 57, 58),
 (542, 4, 6, 19, 28, 35, 49),
 (543, 35, 37, 42, 46, 49, 54),
 (544, 11, 17, 33, 34, 47, 56),
 (545, 17, 29, 35, 40, 43, 57),
 (546, 4, 5, 13, 17, 46, 54),
 (547, 4, 13, 28, 30, 53, 59),
 (548, 14, 47, 49, 51, 58, 59),
 (549, 8, 13, 22, 46, 51, 58),
 (550, 16, 17, 38, 39, 45, 56),
 (551, 12, 21, 46, 48, 56, 57),
 (552, 9, 22, 47, 49, 52, 54),
 (553, 4, 43, 46, 53, 54, 58),
 (554, 15, 29, 31, 42, 47, 60),
 (555, 5, 23, 31, 33, 45, 49),
 (556, 8, 10, 17, 30, 33, 45),
 (557, 8, 12, 18, 23, 38, 49),
 (558, 7, 14, 31, 57, 58, 59),
 (559, 6, 13, 17, 25, 36, 53),
 (560, 2, 11, 18, 30, 32, 58),
 (561, 1, 20, 36, 39, 49, 55),
 (562, 16, 23, 35, 37, 55, 57),
 (563, 5, 8, 23, 34, 44, 51),
 (564, 10, 13, 20, 32, 38, 49),
 (565, 7, 31, 34, 35, 37, 45),
 (566, 6, 13, 17, 18, 20, 37),
 (567, 11, 31, 38, 41, 57, 58),
 (568, 13, 17, 22, 25, 29, 41),
 (569, 3, 9, 14, 15, 32, 57),
 (570, 15, 32, 33, 35, 36, 51),
 (571, 12, 13, 14, 31, 50, 51),
 (572, 3, 9, 16, 20, 33, 60),
 (573, 6, 17, 22, 29, 40, 59),
 (574, 2, 10, 17, 23, 32, 44),
 (575, 5, 18, 21, 29, 35, 48),
 (576, 7, 8, 18, 39, 43, 52),
 (577, 8, 23, 24, 28, 31, 47),
 (578, 3, 18, 23, 48, 56, 58),
 (579, 4, 9, 15, 17, 34, 39),
 (580, 15, 16, 18, 28, 38, 47),
 (581, 14, 17, 25, 30, 39, 52),
 (582, 13, 29, 40, 45, 51, 59),
 (583, 6, 7, 20, 41, 43, 55),
 (584, 7, 8, 23, 30, 32, 53),
 (585, 12, 24, 33, 36, 39, 57),
 (586, 11, 13, 38, 39, 45, 54),
 (587, 2, 18, 29, 30, 36, 60),
 (588, 11, 13, 45, 46, 53, 55),
 (589, 6, 7, 8, 13, 33, 59),
 (590, 4, 5, 18, 25, 28, 51),
 (591, 1, 3, 18, 34, 50, 58),
 (592, 13, 14, 42, 47, 55, 59),
 (593, 1, 25, 27, 29, 49, 59),
 (594, 10, 13, 29, 47, 53, 55),
 (595, 1, 2, 25, 43, 50, 54),
 (596, 11, 14, 28, 43, 54, 60),
 (597, 22, 27, 29, 40, 42, 56),
 (598, 5, 16, 34, 38, 50, 53),
 (599, 4, 6, 9, 23, 45, 51),
 (600, 16, 18, 31, 34, 39, 54),
 (601, 10, 19, 22, 29, 30, 37),
 (602, 7, 13, 38, 46, 55, 60),
 (603, 4, 8, 11, 12, 29, 44),
 (604, 15, 25, 41, 46, 49, 51),
 (605, 4, 24, 44, 49, 52, 53),
 (606, 6, 23, 32, 35, 41, 55),
 (607, 6, 11, 19, 27, 41, 59),
 (608, 6, 13, 19, 24, 30, 37),
 (609, 2, 6, 15, 58, 59, 60),
 (610, 25, 30, 43, 45, 47, 49),
 (611, 16, 21, 22, 33, 48, 49),
 (612, 15, 18, 33, 50, 53, 55),
 (613, 6, 13, 19, 44, 54, 55),
 (614, 12, 16, 31, 48, 57, 60),
 (615, 5, 8, 10, 27, 31, 51),
 (616, 2, 12, 16, 24, 26, 54),
 (617, 3, 5, 25, 33, 36, 49),
 (618, 3, 8, 10, 13, 24, 60),
 (619, 8, 12, 14, 16, 19, 46),
 (620, 1, 3, 13, 22, 29, 32),
 (621, 26, 29, 31, 49, 50, 57),
 (622, 19, 27, 29, 38, 50, 59),
 (623, 9, 23, 30, 42, 49, 55),
 (624, 8, 23, 34, 39, 43, 52),
 (625, 12, 24, 32, 40, 42, 59),
 (626, 7, 8, 18, 22, 39, 49),
 (627, 1, 13, 19, 45, 56, 58),
 (628, 8, 16, 22, 30, 56, 58),
 (629, 15, 16, 39, 40, 47, 51),
 (630, 12, 16, 20, 45, 53, 60),
 (631, 1, 20, 28, 32, 44, 47),
 (632, 2, 19, 28, 48, 51, 54),
 (633, 5, 11, 22, 27, 46, 50),
 (634, 10, 13, 24, 41, 42, 56),
 (635, 8, 20, 26, 37, 42, 49),
 (636, 26, 28, 30, 32, 34, 50),
 (637, 11, 18, 43, 48, 52, 58),
 (638, 10, 11, 36, 41, 42, 50),
 (639, 13, 35, 39, 45, 51, 60),
 (640, 12, 19, 42, 46, 59, 60),
 (641, 1, 9, 13, 17, 33, 34),
 (642, 17, 36, 40, 44, 51, 56),
 (643, 14, 24, 37, 40, 42, 45),
 (644, 14, 27, 29, 31, 34, 57),
 (645, 3, 24, 48, 52, 53, 54),

In [3]:
contests = pd.DataFrame(records)
contests.columns = ('contest', 'first_number', 'second_number', 'third_number', 'fourth_number', 'fifth_number', 'sixth_number')
contests.set_index('contest', inplace=True)
contests

,first_number,second_number,third_number,fourth_number,fifth_number,sixth_number
contest,,,,,,
1,4,5,30,33,41,52
2,9,37,39,41,43,49
3,10,11,29,30,36,47
4,1,5,6,27,42,59
5,1,2,6,16,19,46
...,...,...,...,...,...,...
2478,2,17,23,28,39,46
2479,10,15,17,20,21,35
2480,4,6,9,31,50,56
2481,1,8,21,27,36,37
2482,1,32,35,44,45,57

In [4]:
contests.describe()

,first_number,second_number,third_number,fourth_number,fifth_number,sixth_number
count,2482.000000,2482.000000,2482.000000,2482.000000,2482.000000,2482.000000
mean,8.612812,17.326753,26.322321,35.033038,43.523771,52.174456
std,7.001494,9.155647,9.987137,9.796422,9.022233,6.957911
min,1.000000,2.000000,3.000000,8.000000,11.000000,22.000000
25%,3.000000,10.000000,19.000000,28.000000,38.000000,49.000000
50%,7.000000,16.000000,26.000000,35.000000,45.000000,54.000000
75%,12.000000,23.000000,33.000000,42.000000,51.000000,58.000000
max,50.000000,51.000000,56.000000,58.000000,59.000000,60.000000

In [5]:
first_number = contests[['first_number']]
first_count = first_number.groupby(['first_number'])['first_number'].count()
first_count = first_count.reset_index(name='count')
first_count.set_index('first_number', inplace=True)
first_count.sort_values(['count'], ascending=False).head(20)

              count
first_number
1               241
2               232
4               208
3               188
5               181
6               153
7               151
8               138
10              124
9               115
11               87
12               85
13               68
15               60
14               58
17               56
16               52
18               35
20               35
19               33

In [6]:
second_number = contests[['second_number']]
second_count = second_number.groupby(['second_number'])['second_number'].count()
second_count = second_count.reset_index(name='count')
second_count.set_index('second_number', inplace=True)
second_count.sort_values(['count'], ascending=False).head(20)

               count
second_number
16               125
13               123
10               117
11               113
18               105
12               100
15                96
9                 96
17                95
8                 95
14                93
23                87
6                 85
19                81
20                79
27                77
5                 77
22                67
24                66
7                 64

In [7]:
third_number = contests[['third_number']]
third_count = third_number.groupby(['third_number'])['third_number'].count()
third_count = third_count.reset_index(name='count')
third_count.set_index('third_number', inplace=True)
third_count.sort_values(['count'], ascending=False).head(20)

              count
third_number
28              108
24              101
23               99
30               96
29               88
19               86
31               84
26               83
20               82
25               82
17               81
34               78
32               77
21               76
27               75
22               69
33               69
14               68
18               67
16               64

In [8]:
fourth_number = contests[['fourth_number']]
fourth_count = fourth_number.groupby(['fourth_number'])['fourth_number'].count()
fourth_count = fourth_count.reset_index(name='count')
fourth_count.set_index('fourth_number', inplace=True)
fourth_count.sort_values(['count'], ascending=False).head(20)

               count
fourth_number
37               105
35               102
33               101
41                96
34                95
39                93
32                92
38                91
36                85
40                84
30                82
44                81
43                79
29                78
42                78
46                75
27                73
31                68
28                64
24                63

In [9]:
fifth_number = contests[['fifth_number']]
fifth_count = fifth_number.groupby(['fifth_number'])['fifth_number'].count()
fifth_count = fifth_count.reset_index(name='count')
fifth_count.set_index('fifth_number', inplace=True)
fifth_count.sort_values(['count'], ascending=False).head(20)

              count
fifth_number
42              115
51              112
45              110
53              108
49              108
43              103
46              102
52              100
41               96
50               93
47               93
48               92
44               88
54               84
40               77
38               75
39               73
36               72
55               65
56               63

In [10]:
sixth_number = contests[['sixth_number']]
sixth_count = sixth_number.groupby(['sixth_number'])['sixth_number'].count()
sixth_count = sixth_count.reset_index(name='count')
sixth_count.set_index('sixth_number', inplace=True)
sixth_count.sort_values(['count'], ascending=False).head(20)

              count
sixth_number
60              235
59              213
58              202
56              182
57              171
54              155
53              152
55              137
52              115
51              112
49              105
50               97
48               87
47               67
44               55
45               53
46               50
43               39
42               36
41               30

In [11]:
first_top = first_count.sort_values(['count'], ascending=False).head(20)
first_choice = np.random.choice(first_top.index.values)
first_choice

12

In [12]:
second_top = second_count.sort_values(['count'], ascending=False).head(20)
second_choice = np.random.choice(second_top.index.values)
second_choice

9

In [13]:
third_top = third_count.sort_values(['count'], ascending=False).head(20)
third_choice = np.random.choice(third_top.index.values)
third_choice

27

In [14]:
fourth_top = fourth_count.sort_values(['count'], ascending=False).head(20)
fourth_choice = np.random.choice(fourth_top.index.values)
fourth_choice

31

In [15]:
fifth_top = fifth_count.sort_values(['count'], ascending=False).head(20)
fifth_choice = np.random.choice(fifth_top.index.values)
fifth_choice

39

In [16]:
sixth_top = sixth_count.sort_values(['count'], ascending=False).head(20)
sixth_choice = np.random.choice(sixth_top.index.values)
sixth_choice

46

In [17]:
'{0}, {1}, {2}, {3}, {4}, {5}'.format(first_choice, second_choice, third_choice, fourth_choice, fifth_choice, sixth_choice)

'12, 9, 27, 31, 39, 46'

In [18]:
sqlite_select_query = "SELECT contest from mega_sena where first_number = {0} and second_number = {1} and third_number = {2} and fourth_number = {3} and fifth_number = {4} and sixth_number = {5}".format(first_choice, second_choice, third_choice, fourth_choice, fifth_choice, sixth_choice)
# sqlite_select_query = "SELECT contest from mega_sena where first_number = {0} and second_number = {1} and third_number = {2} and fourth_number = {3} and fifth_number = {4} and sixth_number = {5}".format(4, 5, 30, 33, 41, 52)
cursor.execute(sqlite_select_query)
teste_contest = cursor.fetchall()
teste_contest

[]

In [41]:
first_unit = np.empty([])
for first_number in first_count.index.values:
    unit = str(first_number.item().zfill(2))[1]
    np.append(first_unit, unit)
first_unit

AttributeError: 'int' object has no attribute 'zfill'